.meme-editor {
    padding: 20px 20px 20px;
    background-color: var(--clr2);
    gap: 20px;
}

/* .meme-editor>* {
    width: 35vw;
    height: 70vh;
} */

.actions-container>* {
    margin: 10px;
    flex-basis: 25%;
    /* border: 2px rgba(0, 0, 0, 0.062) solid; */
}

.meme-text {
    width: 60%;
    height: 1.875em;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
    background-color: var(--clr3);
    border-radius: 6px;
    font-size: 1em;
}

.btn {
    height: 35px;
    padding: 5px;
    margin: 5px;
    border: none;
    outline: none;
    background-color: var(--clr3);
    cursor: pointer;
    border-radius: 6px;
}

.btn:hover{
    background-color: var(--pumpkin-orange-hover); 
}
.btn.selected{
    background-color: var(--pumpkin-orange-hover); 
}

.btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.save-btn {
    width: 6em;
    height: 2.5em;
    border: none;
    outline: none;
    color: var(--clr3);
    background-color: var(--pumpkin-orange);
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}

.save-actions {
    gap: 1.5em;
}

.btn.stroke-color{
    font-size: 1.25em;
    font-weight: bold;

}

.btn.disabled{
    background-color: rgba(128, 128, 128, 0.199);
}

.save-btn a{
    text-decoration: none;
    color: var(--clr3);
}
